@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, #33ccff 5%, #000099 150%);
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

h1 {
  font-weight: 1000;
  line-height: 1;
  margin-bottom: 0;
  color: white;
}

p {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #f3f3f3;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

form {
  background: var(--color-darkblue-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-general {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.question {
  text-align: left;
  font-size: 20px;
}

label {
  display: flex;
  color: #dcdcdc;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.container {
  width: 100%;
  margin: 3.5rem auto 0 auto;
  align-items: center;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #424242;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

placeholder {
  font-size: 10px;
}

.input-textarea {
  width: 100%;
  min-height: 120px;
  resize: vertical;
  padding: 0.625rem;
}

.submit-button {
  display: block;
  font-weight: bold;
  width: 100%;
  padding: 0.75rem;
  background: #abffad;
  color: inherit;
  border-radius: 12px;
  cursor: pointer;
}
